<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>研究生模拟器</title>
    <!-- 引入 Bootstrap 样式 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- 支持响应式布局 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">研究生模拟器</h1>
      <form method="POST" action="{{ url_for('index') }}">
        <div class="mb-3">
          <label for="seed" class="form-label">请输入随机种子（留空将使用当前时间戳）：</label>
          <input type="text" class="form-control" id="seed" name="seed">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">开始游戏</button>
        </div>
      </form>
      <div class="text-center mt-5">
        <p>本项目<a href="https://github.com/Mingzefei/graduate_simulator">Github仓库</a>，欢迎在Issue提交你的研究生经历</p>
      </div>
    </div>
    <!-- 引入 Bootstrap JavaScript -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
  </body>
</html>
